.brand-logo {
    position: static !important;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.navbar {
    padding-top: 15px;
    padding-left: 30px;
    border-bottom: 2px solid rgb(220, 218, 218);
    box-shadow: 0 10px 20px -10px rgb(34, 34, 34);
    background-color: white
}

h1 {
    font-size: 30px;
    color: rgb(105, 180, 179);
    display: inline-block;
    margin-right: 30px;
}

#welcome-message{
    color: rgb(44, 178, 187);
    text-align: end;
    font-size: 15px;
    display: inline-block;
    font-weight: 500;
    margin-left: 40%;
  }