.photographer-title {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.photographer-info {
    padding-top: 1rem;
}

.uk-card {
    border-radius: 8px;
}

.btn-floating {
    float: right;
}

i {
    font-style: normal;
}

.name {
    text-align: left;
}

.remove-button {
    display: inline;
    float: right;
    background-color: #f48fb1;
    margin-right: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.photos {
    margin-top: 2rem;
}

.uk-card-header {
    margin-bottom: 3rem;
}


ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    height: 40vh;
    flex-grow: 1;
  }
  
 .photo-preview {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    margin: 3px;
  }

