.card-link {
    margin-top: 1rem !important;
}

.card-maintxt {
    font-size: 20px;
}

.no-photos {
    text-align: center;
}


.card-content {
padding-top: 0px !important;
}

.photo-preview {
    padding-bottom: 0px !important;
}
