.photographer-name {
    margin-top: 3rem;
    margin-bottom: 0;
}
.photographer-link {
    margin: 0;
}

.photographer-bio {
    margin-top: 1rem;
}

.photographer-name, .photographer-link, .photographer-bio {
    text-align: left !important;
}

img {
    padding-top: 0.5rem;
}

.container {
    margin-top: 2rem;
}

.favorite-button {
    display: inline;
    float: right;
    background-color: #f48fb1;
    margin-right: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 1rem;
}

.bio {
    font-size: 14px;
}

ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    height: 40vh;
    flex-grow: 1;
  }
  
 .photo-preview {
    height:100%;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    padding: 10px;
    margin: 0px;
  }

  .login-link {
      margin: 0px;
      color: #f48fb1;
      font-weight: 600;
  }

  .login-text {
      font-size: 12.5px;
      float: right;
  }

  #favorite-message {
    text-align: right;
    font-size: 14px;
    margin-top: 1.5rem;
    font-weight: 500;
    color: #f48fb1 !important;
} 