.photographer-name {
    margin-top: 3rem;
    margin-bottom: 0;
}
.photographer-link {
    margin: 0;
}

.photographer-bio {
    margin-top: 1rem;
}

.photographer-name, .photographer-link, .photographer-bio {
    text-align: left;
}